.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 0.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 2em;
    align-items: center;
}

.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.topicos__item {
    margin: 1.5em 0.5em;   
}

@media screen and (min-width: 768px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista {
        display: flex;
        gap: 0.5em;
        padding: 1em 1em;
    }

    .topicos__item {
        padding: 1em 0;
        margin: 1.2em;
    }

    .topicos__link {
        font-size: 24px;
    }
}


@media screen and (min-width: 1035px) {
    .topicos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
    }

    .topicos__titulo {
        font-size: 32px;
        font-weight: 300;
    }

    .topicos__lista {
        display: flex;
        flex-wrap: wrap;
        width: 60vw;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;
    }
}


















